<div class=social-tab>
  <div class="social-share-buttons" style="display: flex; justify-content: center; gap: 15px; margin: 15px 0;">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" class="fab fa-facebook" style="font-size: 24px; color: #1877f2;" aria-label="Share on Facebook"></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" class="fab fa-twitter" style="font-size: 24px; color: #1da1f2;" aria-label="Share on Twitter"></a>
    <a href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title | url_encode }}" target="_blank" rel="noopener" class="fab fa-pinterest" style="font-size: 24px; color: #bd081c;" aria-label="Share on Pinterest"></a>
    <a href="mailto:?subject={{ page.title | url_encode }}&body={{ site.url }}{{ page.url }}" class="fas fa-envelope" style="font-size: 24px; color: #666;" aria-label="Share by Email"></a>
  </div>
  <div class="patreon-box">
    <h4>Support me! Become my sponsor!</h4>
    <a class="fab fa-patreon patreon-button" href="https://www.patreon.com/bePatron?u=29397492"> Become a Patron!</a>
  </div>
</div>
